<!DOCTYPE html>
{%load staticfiles%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "css/demo.css"%}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <title></title>
  </head>
  <body>
    <div class="container" align="center">
      <div class="jumbotron">
  <h1>Welcome to DURGASOFT</h1>
  <p>continuous Job updates for every hour...</p>
  <a class="btn btn-primary btn-lg" href="/hydjobsinfo" role="button">Hyderabad Jobs</a>
  <a class="btn btn-primary btn-lg" href="/blorejobsinfo" role="button">Bangalore Jobs</a>
  <a class="btn btn-primary btn-lg" href="/punejobsinfo" role="button">Pune Jobs</a>
  <a class="btn btn-primary btn-lg" href="/chennaijobsinfo" role="button">Chennai Jobs</a>
</div>

    </div>

  </body>
</html>
